<div class="h-show-c d-sm-flex flex-wrap">
  <% if @category.articles.any? %>
    <%= render @category %>
  <% else %>
    <p class="h-100 background-app text-light">No articles written lately, you can write one if you feel inspirated :)</p>
  <% end %>
</div>

