<%= link_to root_path, class: "logo-width d-flex flex-column justify-content-center h-75 rounded align-self-center text-decoration-none pr-2 background-app border-left border-right px-1 border-secondary" do %>
    <span class="text-white">Work</span>
    <hr class="text-light align-self-center w-100 m-0">
    <span class="text-color-orange font-weight-bold">OUT</span>
  <% end %>